# Cars price prediction

## I. Data import

In [7]:
import pandas as pd
df = pd.read_csv('ScrapyParser/kolesa_cars.csv')
df.head()

/tmp/ipykernel_18905/2035301755.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ScrapyParser/kolesa_cars.csv')

,manufacturer,model,price,year,body,engine_volume,fuel_type,transmission,city,date
0,Renault,Megane,1 800 000,2004,седан,1.4,бензин,механика,Актобе,29 марта
1,ВАЗ (Lada),2131 (5-ти дверный),1 055 000,2004,внедорожник,1.8,бензин,механика,Актобе,29 марта
2,Chevrolet,Orlando,8 000 000,2013,минивэн,1.8,бензин,автомат,Актобе,29 марта
3,Kia,Cee’d,6 300 000,2013,хэтчбек,1.6,бензин,автомат,Актобе,29 марта
4,Toyota,Camry,17 000 000,2018,седан,2.5,бензин,автомат,Актобе,29 марта

## II. Data cleaning

#### Remove duplicates
Due to the inherent nature of the repetition of ads and due to the technical specifics of the parser, there are duplicates in the dataset that need to be removed.

In [8]:
print(f'Total amount of rows: {len(df)}\n'
      f'Total amount of duplicates: {len(df)-len(df.drop_duplicates())}')
df = df.drop_duplicates()
print(f'New amount: {len(df)}')

Total amount of rows: 131480
Total amount of duplicates: 15759
New amount: 115721

#### Drop useless columns
The parsing occurred on March 29 and, accordingly, the date in the column is only 7 days. This data is useless.

In [9]:
print(f"All days in dataset: {df['date'].unique()}")
df.drop('date', inplace=True, axis=1)

All days in dataset: ['29 марта' '25 марта' '23 марта' '24 марта' '26 марта' '28 марта'
 '27 марта' '30 марта']

,manufacturer,model,price,year,body,engine_volume,fuel_type,transmission,city
0,Renault,Megane,1 800 000,2004,седан,1.4,бензин,механика,Актобе
1,ВАЗ (Lada),2131 (5-ти дверный),1 055 000,2004,внедорожник,1.8,бензин,механика,Актобе
2,Chevrolet,Orlando,8 000 000,2013,минивэн,1.8,бензин,автомат,Актобе
3,Kia,Cee’d,6 300 000,2013,хэтчбек,1.6,бензин,автомат,Актобе
4,Toyota,Camry,17 000 000,2018,седан,2.5,бензин,автомат,Актобе

## III. Data preparation

## IV. Regression