# Cars price prediction

## I. Data import

In [326]:
import pandas as pd
import numpy as np
from sklearn.metrics  import f1_score,accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('ScrapyParser/kolesa_cars.csv')
df

,manufacturer,model,price,year,body,engine_volume,fuel_type,transmission,city,date
0,Renault,Megane,1 800 000,2004,седан,1.4,бензин,механика,Актобе,29 марта
1,ВАЗ (Lada),2131 (5-ти дверный),1 055 000,2004,внедорожник,1.8,бензин,механика,Актобе,29 марта
2,Chevrolet,Orlando,8 000 000,2013,минивэн,1.8,бензин,автомат,Актобе,29 марта
3,Kia,Cee’d,6 300 000,2013,хэтчбек,1.6,бензин,автомат,Актобе,29 марта
4,Toyota,Camry,17 000 000,2018,седан,2.5,бензин,автомат,Актобе,29 марта
...,...,...,...,...,...,...,...,...,...,...
131475,Toyota,Camry,6 500 000,2006,седан,2.4,бензин,автомат,Актобе,29 марта
131476,BMW,320,3 600 000,2002,седан,2.2,бензин,автомат,Актобе,29 марта
131477,ГАЗ,ГАЗель,6 700 000,2013,пикап,2.9,газ-бензин,механика,Актобе,29 марта
131478,ВАЗ (Lada),Priora 2170 (седан),3 200 000,2014,седан,1.6,бензин,механика,Актобе,29 марта
131479,ВАЗ (Lada),Priora 2170 (седан),3 000 000,2014,седан,1.6,бензин,механика,Актобе,29 марта

## II. Data cleaning

#### Remove duplicates
Due to the inherent nature of the repetition of ads and due to the technical specifics of the parser, there are duplicates in the dataset that need to be removed.

In [327]:
print(f'Total amount of rows: {len(df)}\n'
      f'Total amount of duplicates: {len(df)-len(df.drop_duplicates())}')
df = df.drop_duplicates()
print(f'New amount: {len(df)}')

Total amount of rows: 131480
Total amount of duplicates: 15759
New amount: 115721

#### Drop useless columns
The parsing occurred on March 29 and, accordingly, the date in the column is only 7 days. This data is useless.

In [328]:
print(f"All days in dataset: {df['date'].unique()}")
df.drop('date', inplace=True, axis=1)

All days in dataset: ['29 марта' '25 марта' '23 марта' '24 марта' '26 марта' '28 марта'
 '27 марта' '30 марта']

#### Drop garbage rows
Parser may set wrong values for some columns, let's check their status.

In [329]:
print(f'Manufacturer: OK\n{df.manufacturer.unique()}\n\n'
      f'Model: OK\n{df.model.unique()}\n\n'
      f'Price: OK\n{df.price.unique()}\n\n'
      f'Year: OK\n{df.year.unique()}\n\n'
      f'Body: BAD\n{df.body.unique()}\n\n'
      f'Engine volume: BAD\n{df.engine_volume.unique()}\n\n'
      f'Fuel type: BAD\n{df.fuel_type.unique()}\n\n'
      f'Transmission: BAD\n{df.transmission.unique()}\n\n'
      f'City: Ok\n{df.city.unique()}\n\n')

Manufacturer: OK
['Renault' 'ВАЗ (Lada)' 'Chevrolet' 'Kia' 'Toyota' 'Nissan' 'Opel'
 'Hyundai' 'ГАЗ' 'Daewoo' 'Skoda' 'Mitsubishi' 'Volkswagen' 'Lexus'
 'Geely' 'УАЗ' 'SsangYong' 'Mercedes-Benz' 'Ford' 'BMW' 'Audi' 'Changan'
 'Subaru' 'FAW' 'Great Wall' 'Porsche' 'Mazda' 'Honda' 'Москвич'
 'Infiniti' 'Suzuki' 'Haval' 'Land Rover' 'Ravon' 'Dodge' 'Mini' 'Peugeot'
 'JAC' 'ЗАЗ' 'Derways' 'Foton' 'ИЖ' 'Fiat' 'Lincoln' 'Lifan' 'Jaguar'
 'Chery' 'Datsun' 'Daihatsu' 'Citroen' 'Chrysler' 'Volvo' 'Isuzu' 'Seat'
 'Cadillac' 'Jeep' 'GMC' 'Hummer' 'Alfa Romeo' 'MG' 'ЛуАЗ' 'DongFeng'
 'Acura' 'Pontiac' 'Shuanghuan' 'Bentley' 'Saab' 'ТагАЗ' 'Tianma' 'BYD'
 'Ретро-автомобили' 'Hafei' 'ЗиЛ' 'Lancia' 'ZX' 'Rover' 'ВИС' 'Haima'
 'Smart' 'Maserati' 'Wuling' 'Genesis' 'Jin' 'GAC' 'Tesla' 'РАФ' 'Gonow'
 'Dacia' 'Iran Khodro' 'Mercedes-Maybach' 'Rolls-Royce' 'Buick' 'Scion'
 'Mercury' 'Aston Martin' 'BAIC' 'Maybach' 'Ferrari' 'Dayun' 'Lamborghini'
 'Puch' 'Huanghai' 'BAW' 'Mahindra' 'Tianye']

Model: OK
['Megane' '2131 (5-ти дверный)' 'Orlando' ... 'Hover H5' 'ZS' 'Alsvin']

Price: OK
['1 800 000' '1 055 000' '8 000 000' ... '31 780 000' '1 748 000'
 '5 200 066']

Year: OK
[2004 2013 2018 1994 2005 2014 1997 2012 2010 1996 2020 2007 2011 2021
 1995 2008 2006 2016 2022 2017 2000 2001 2015 1990 1992 1993 1999 1988
 1998 2019 2009 2002 2003 1991 1953 1959 1978 1989 1987 1981 1986 1980
 1975 1985 1984 1983 1977 1976 1982 1969 1967 1963 1971 1957 1965 1973
 1966 1972 1974 1954 1968 1960 1958 1970 1950 1964 1962 1961 1979 1952
 1956 1955 1947 1951 1945 1949 1946 1943 1944]

Body: BAD
['седан' 'внедорожник' 'минивэн' 'хэтчбек' 'универсал' 'фургон'
 'кроссовер' 'лифтбек' 'пикап' 'микроавтобус' 'купе' 'родстер' 'микровэн'
 'лимузин' 'кабриолет' 'хардтоп' 'тарга' 'фастбек' 'л']

Engine volume: BAD
['1.4' '1.8' '1.6' '2.5' '3' '4.5' '2' '1.5' '2.7' '2.9' '0.8' '2.4' '1.7'
 '4.6' '2.3' '3.5' '2.8' '4' '1.3' '4.7' '5.5' '2.2' '1.1' '3.6' '3.3'
 '3.2' '2.6' '2.1' '4.4' '5.7' '1.2' '1.9' '6' '3.4' '4.8' '5' '4.3' '5.6'
 '3.8' '1' '5.4' '4.2' '3.7' '3.1' '6.2' 'электричество' '6.3' '3.9' '5.3'
 '8.5' '0.7' 'бензин' '0.9' '6.5' '9.9' '7.7' '1.69' '0.6' '6.1' '5.9'
 'газ' '8.8' '0.2' '4.9' '5.2' '8.3' '6.8' '9' '5.8' '0.1' '6.6' '7.4'
 '6.7' '8.2' '6.4' '4.497' '8.1' '2.99' '7.3' '2.01' 'дизель' '8' 2.7 1.6
 2.0 1.4 4.0 1.8 2.5 1.5 4.5 1.7 5.7 2.6 4.7 3.0 2.9 2.3 2.4 4.6 3.2 3.5
 2.8 1.3 2.2 1.9 3.3 1.2 0.8 5.4 5.5 5.0 5.6 4.4 3.6 4.3 3.7 3.4 0.2]

Fuel type: BAD
['бензин' 'газ-бензин' 'дизель' 'гибрид' 'газ' 'КПП автомат'
 'электричество' 'КПП механика' 'правый руль']

Transmission: BAD
['механика' 'автомат' 'вариатор' 'робот' 'руль' 'пробегом 100 км'
 'типтроник' 'пробегом 39 000 км' 'пробегом 24 500 км'
 'автомобиль Победа 1953 года на ходу или обменяю на другое авто' nan
 'пробегом 250 569 км' 'пробегом 37 000 км' 'пробегом 72 405 км'
 'пробегом 48 500 км' 'пробегом 2 900 км' 'пробегом 36 401 км'
 'пробегом 69 000 км' 'под реставрацию возможен варианты обмена'
 'пробегом 20 000 км' 'пробегом 9 679 км' 'ходу' 'пробегом 2 000 км' 'км'
 'пробегом 14 641 км' 'пробегом 4 500 км' 'пробегом 32 000 км'
 'пробегом 21 000 км' 'пробегом 59 000 км' 'пробегом 70 км'
 'пробегом 12 000 км'
 'Максимальный комплектации из Японии. Все родное. Сиденье в отличном состояни...'
 'пробегом 36 600 км' 'пробегом 24 509 км' 'пробегом 666 км'
 'пробегом 9 486 км' '600 км' 'пробегом 130 000 км' 'пробегом 3 000 км'
 'диски' 'пробегом 35 000 км' 'пробегом 30 606 км' 'пробегом 19 155 км'
 'пробегом 47 706 км' 'пробегом 60 000 км' 'пробегом 69 434 км'
 'пробегом 21 444 км' 'пробегом 8 778 км' 'пробегом 57 048 км'
 'пробегом 48 035 км' 'пробегом 4 000 км' 'пробегом 70 000 км'
 'пробегом 80 000 км' 'пробегом 40 000 км' 'пробегом 56 000 км'
 'пробегом 24 000 км' 'пробегом 38 823 км' 'пробегом 16 500 км'
 'Model S Long Range Запас хода 600 км. Разгон 0-100 км/ч 3.2...'
 'пробегом 101 000 км' 'пробегом 240 км' 'пробегом 3 800 км'
 'пробегом 71 000 км'
 'абсолютно новый! Европеец! Комплектация Long Range Dual Motor...'
 'пробегом 10 500 км' 'пробегом 13 186 км' 'пробегом 9 999 км'
 'пробегом 48 000 км' 'пробегом 10 000 км' 'пробегом 7 000 км'
 'пробегом 47 000 км']

City: Ok
['Актобе' 'Шалкар' 'Хромтау' 'Акраб' 'Кандыагаш' 'Степногорск'
 'Нур-Султан (Астана)' 'Кокшетау' 'Державинск' 'Атырау' 'Кульсары'
 'Шымкент' 'Туркестан' 'Сарыагаш' 'Махамбет' 'Доссор' 'Индерборский'
 'Ленгер' 'Жетысай' 'Алматы' 'Капшагай' 'Талдыкорган' 'Усть-Каменогорск'
 'Семей' 'Урджар' 'Аягоз' 'Курчатов' 'Зайсан' 'Уральск' 'Аксай' 'Балхаш'
 'Жезказган' 'Темиртау' 'Караганда' 'Костанай' 'Лисаковск' 'Рудный'
 'Шиели' 'Байконыр' 'Кызылорда' 'Жалагаш' 'Жосалы' 'Жанаозен' 'Актау'
 'Бейнеу' 'Сатпаев' 'Атасу' 'Петропавловск' 'Саумалколь' 'Бишкуль'
 'Явленка' 'Сергеевка' 'Тайынша' 'Новоишимский' 'Пресновка' 'Талшик'
 'Булаево' 'Кишкенеколь' 'Мамлютка' 'Смирново' 'Чкалово' 'Тимирязево'
 'Павлодар' 'Железинка' 'Кашыр' 'Экибастуз' 'Аксу' 'Успенка' 'Иртышск'
 'Шарбакты' 'Баянаул' 'Акку' 'Черноярка' 'Актогай' 'Коктобе'
 'Форт-Шевченко' 'Курык' 'Жетыбай' 'Шетпе' 'Акшукур' 'Жанакорган'
 'Аральск' 'Теренозек' 'Саксаульский' 'Казалинск' 'Айтеке би' 'Житикара'
 'Федоровка (Федоровский р-н)' 'Карабалык (Карабалыкский р-н)'
 'Затобольск' 'Денисовка' 'Аркалык' 'Аулиеколь' 'Тобыл' 'Узунколь'
 'Амангельды' 'Карасу' 'Тарановское' 'Аманкарагай' 'Боровской' 'Камысты'
 'Заречное' 'Сарыколь' 'Убаганское' 'Качар' 'Караменды' 'Октябрьское'
 'Торгай' 'Шахтинск' 'Агадырь' 'Приозерск' 'Абай (Абайский р-н)'
 'Молодежное (Осакаровский р-н)' 'Сарань' 'Жайрем' 'Осакаровка'
 'Сарышаган' 'Каркаралинск' 'Актогай (Актогайский район)' 'Каражал'
 'Аксу-Аюлы' 'Габидена Мустафина' 'Топар' 'Киевка' 'Ботакара' 'Улытау'
 'Жарык' 'Кенгирское' 'Переметное' 'Жымпиты' 'Жангала' 'Тайпак' 'Чапаев'
 'Федоровка (Теректинский р-н)' 'Таскала' 'Дарьинское' 'Чингирлау'
 'Казталовка' 'Жанибек' 'Акжаик' 'Жалпактал' 'Трекино' 'Тараз' 'Сарыкемер'
 'Мерке' 'Жанатас' 'Кордай' 'Шу' 'Кулан' 'Бауыржана Момышулы' 'Мойынкум'
 'Аса' 'Каратау' 'Саудакент' 'Акколь (Таласский р-н)' 'Толе би' 'Бурыл'
 'Алтай' 'Риддер' 'Шемонаиха' 'Маканчи' 'Бородулиха' 'Караул' 'Калбатау'
 'Кокпекты' 'Георгиевка' 'Акжар' 'Большенарымское' 'Глубокое' 'Самарское'
 'Молодежный (Уланский р-н)' 'Большая Владимировка' 'Курчум' 'Серебрянск'
 'Кабанбай (Урджарский р-н)' 'Таврическое' 'Новая Бухтарма' 'Аксуат'
 'Жезкент' 'Кайнар' 'Теректы' 'Катон-Карагай' 'Шар' 'Новая Шульба'
 'Верхнеберезовский' 'Турара Рыскулова' 'Кентау' 'Абай (Келесский р-н)'
 'Казыгурт' 'Шаульдер' 'Аксукент' 'Арысь' 'Асыката' 'Темирлановка'
 'Мырзакент' 'Шаян' 'Шардара' 'Шолаккорган' 'Карабулак' 'Атакент'
 'Састобе' 'Аккыстау' 'Макат' 'Ганюшкино' 'Миялы'
 'Акколь (Аккольский р-н)' 'Есиль' 'Щучинск' 'Ерейментау' 'Зеренда'
 'Макинск' 'Аршалы' 'Атбасар' 'Степняк' 'Коргалжын' 'Астраханка'
 'Балкашино' 'Шортанды' 'Кабанбай батыра (Целиноградский р-н)' 'Жолымбет'
 'Талапкер' 'Шантобе' 'Джалтыр' 'Боровое' 'Жаксы' 'Косшы' 'Бестобе'
 'Егиндыколь' 'Боралдай' 'Талгар' 'Жаркент' 'Балпык би' 'Каскелен'
 'Байтерек' 'Узынагаш' 'Ават (Енбекшиказахский р-н)' 'Сарыозек'
 'Панфилово (Талгарский р-н)' 'Текели' 'Шамалган' 'Уштобе' 'Сарканд'
 'Есик' 'Чунджа' 'Ушарал' 'Отеген-Батыр' 'Карабулак (Ескельдинский р-н)'
 'Бесагаш' 'Кендала' 'Кызылту' 'Байсерке' 'Карабулак (Талгарский р-н)'
 'Ащибулак' 'Шелек' 'Жансугуров' 'Жетиген' 'Кыргауылды' 'Нарынкол'
 'Кабанбай (Алакольский р-н)' 'Иргели' 'Жалкамыс' 'Кеген' 'Когалы'
 'Баканас' 'Райымбек (Карасайский р-н)' 'Байганин' 'Мартук' 'Алга'
 'Шубаркудук' 'Комсомольское' 'Эмба' 'Бадамша' 'Хобда']

As we can see engine_volume, body, fuel_type, transmission columns has some garbage rows, we will delete them.

In [330]:
df['engine_volume'] = df['engine_volume'].astype(str)
df['engine_volume'] = df['engine_volume'].apply(lambda x: None if x in ['газ', 'бензин', 'электричество'] else x)
df['body'] = df['body'].apply(lambda x: None if x.strip()=='л' else x)
df['fuel_type'] = df['fuel_type'].apply(lambda x: None if x in ['КПП Автомат', 'КПП механика', 'правый руль'] else x)
df['transmission'] = df['transmission'].apply(lambda x: x if x in ['механика', 'автомат', 'вариатор', 'робот'] else None)
df.dropna(inplace=True)

Now these columns are good to go.

In [331]:
print(f'Body: OK\n{df.body.unique()}\n\n'
      f'Engine volume: OK\n{df.engine_volume.unique()}\n\n'
      f'Fuel type: OK\n{df.fuel_type.unique()}\n\n'
      f'Transmission: OK\n{df.transmission.unique()}\n\n')

Body: OK
['седан' 'внедорожник' 'минивэн' 'хэтчбек' 'универсал' 'фургон'
 'кроссовер' 'лифтбек' 'пикап' 'микроавтобус' 'купе' 'родстер' 'микровэн'
 'лимузин' 'кабриолет' 'хардтоп' 'фастбек' 'тарга']

Engine volume: OK
['1.4' '1.8' '1.6' '2.5' '3' '4.5' '2' '1.5' '2.7' '2.9' '0.8' '2.4' '1.7'
 '4.6' '2.3' '3.5' '2.8' '4' '1.3' '4.7' '5.5' '2.2' '1.1' '3.6' '3.3'
 '3.2' '2.6' '2.1' '4.4' '5.7' '1.2' '1.9' '6' '3.4' '4.8' '5' '4.3' '5.6'
 '3.8' '1' '5.4' '4.2' '3.7' '3.1' '6.2' '6.3' '3.9' '5.3' '8.5' '0.7'
 '0.9' '6.5' '9.9' '7.7' '1.69' '0.6' '6.1' '5.9' '0.2' '4.9' '5.2' '8.3'
 '6.8' '9' '5.8' '0.1' '6.6' '7.4' '6.7' '8.2' '6.4' '4.497' '8.1' '2.99'
 '7.3' '2.01' '8' '2.0' '4.0' '3.0' '5.0']

Fuel type: OK
['бензин' 'газ-бензин' 'дизель' 'гибрид' 'газ' 'электричество']

Transmission: OK
['механика' 'автомат' 'вариатор' 'робот']

As the result of data cleaning:
Rows amount at the start: 131480
Rows amount after duplicates removed: 115721
Rows amount after garbage rows are removed: 109483

In [332]:
df

,manufacturer,model,price,year,body,engine_volume,fuel_type,transmission,city
0,Renault,Megane,1 800 000,2004,седан,1.4,бензин,механика,Актобе
1,ВАЗ (Lada),2131 (5-ти дверный),1 055 000,2004,внедорожник,1.8,бензин,механика,Актобе
2,Chevrolet,Orlando,8 000 000,2013,минивэн,1.8,бензин,автомат,Актобе
3,Kia,Cee’d,6 300 000,2013,хэтчбек,1.6,бензин,автомат,Актобе
4,Toyota,Camry,17 000 000,2018,седан,2.5,бензин,автомат,Актобе
...,...,...,...,...,...,...,...,...,...
131474,ВАЗ (Lada),Priora 2170 (седан),2 700 000,2013,седан,1.6,бензин,механика,Актобе
131476,BMW,320,3 600 000,2002,седан,2.2,бензин,автомат,Актобе
131477,ГАЗ,ГАЗель,6 700 000,2013,пикап,2.9,газ-бензин,механика,Актобе
131478,ВАЗ (Lada),Priora 2170 (седан),3 200 000,2014,седан,1.6,бензин,механика,Актобе
131479,ВАЗ (Lada),Priora 2170 (седан),3 000 000,2014,седан,1.6,бензин,механика,Актобе

## III. Data preparation
Only "year" columns has appropriate type. So we will cast each of other columns.

In [333]:
df.dtypes

manufacturer     object
model            object
price            object
year              int64
body             object
engine_volume    object
fuel_type        object
transmission     object
city             object
dtype: object

We will give columns consisting of digits the correct types

In [334]:
df['price'] = df['price'].apply(lambda x: x.replace(' ', '')).astype(int)
df['engine_volume'] = df['engine_volume'].astype(float)

Transmission and fuel type has few categories, so we will turn them into binary columns

In [335]:
df = df.join(pd.get_dummies(df.transmission))
df = df.join(pd.get_dummies(df.fuel_type))

We don't want to overfit our model with many columns, so we can not just make dummy values from columns as manufacturer, model, body, city. We will drop them.

In [336]:
df_num = df.drop(['manufacturer', 'model', 'body', 'fuel_type', 'transmission', 'city'], axis=1)
df_num

,price,year,engine_volume,автомат,вариатор,механика,робот,бензин,газ,газ-бензин,гибрид,дизель,электричество
0,1800000,2004,1.4,0,0,1,0,1,0,0,0,0,0
1,1055000,2004,1.8,0,0,1,0,1,0,0,0,0,0
2,8000000,2013,1.8,1,0,0,0,1,0,0,0,0,0
3,6300000,2013,1.6,1,0,0,0,1,0,0,0,0,0
4,17000000,2018,2.5,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131474,2700000,2013,1.6,0,0,1,0,1,0,0,0,0,0
131476,3600000,2002,2.2,1,0,0,0,1,0,0,0,0,0
131477,6700000,2013,2.9,0,0,1,0,0,0,1,0,0,0
131478,3200000,2014,1.6,0,0,1,0,1,0,0,0,0,0
131479,3000000,2014,1.6,0,0,1,0,1,0,0,0,0,0

At the end, we have ready for regression, filled only with numeric values dataframe

In [337]:
df_num.dtypes

price              int64
year               int64
engine_volume    float64
автомат            uint8
вариатор           uint8
механика           uint8
робот              uint8
бензин             uint8
газ                uint8
газ-бензин         uint8
гибрид             uint8
дизель             uint8
электричество      uint8
dtype: object

## IV. Regression

In [338]:
y = df_num.price
df_num.drop(['price'], axis=1, inplace=True)
X = df_num
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2)

In [340]:
model = LinearRegression()
model.fit(X_train,y_train)
pred = model.predict(X_test)


print(mean_absolute_error(y_test,pred))
print(mean_squared_error(y_test,pred))

3184086.935042661
31893925417651.496